---
import { Picture } from 'astro:assets';
import InstagramIcon from '../icons/FaInstagram.svg';
import FacebookIcon from '../icons/FaFacebook.svg';
import TwitterIcon from '../icons/FaTwitter.svg';
import FaClockO from '../icons/FaClockO.svg';
import FaPhone from '../icons/FaPhone.svg';
import FaEnvelopeO from '../icons/FaEnvelopeO.svg';
import FaMapO from '../icons/FaMapO.svg';
---
<div id="footer">
    <div id="content">
        <p><a href="mailto:mailto:registrar@huronplayschool.com"><Picture src={FaEnvelopeO} style="height:1.5em" alt="Mail"/>Contact Our Registrar</p></a>
        <p><Picture src={FaMapO} style="height:1.5em" alt="Map"/>383 Huron St., Toronto, Ontario</p>
        <p><a href="tel:4169771109"><Picture src={FaPhone} style="height:1.5em" alt="Phone"/>+1 (416) 977-1109</p></a>
        <p><Picture src={FaClockO} style="height:1.5em" alt="Clock"/> Monday - Friday: 9 AM - 6 PM</p>

        <div style="margin:auto;text-align: center;padding:20px; background-image:none">
            <a href="https://www.facebook.com/profile.php?id=100091426297303"><Picture src={FacebookIcon} alt="Facebook icon"/></a>
            &emsp;
            <a href="https://twitter.com/huronplayschool"><Picture src={TwitterIcon} alt="Twitter (X) icon"/></a>
            &emsp;
            <a href="https://www.instagram.com/huronplayschool"><Picture src={InstagramIcon} alt="Instagram icon"/></a>
        </div>
    </div>
</div>

<style>
    #footer {
        width: 100%;
        background-size: 20%;
        background-repeat: no-repeat;        
        margin: 0;
        padding: 0;
    }
    #content {
        width: fit-content;
        margin: auto;
        background-image: none;
    }
</style>